In [1]:
import sqlite3

In [2]:
class Person:
    def __init__(self, id_number, first, last, age) :
        self.id_number = id_number
        self.first = first
        self.last = last
        self.age = age
        self.con = sqlite3.connect('mydata.db')
        self.cursor = self.con.cursor()

    def load_person(self, id_number) : 
        cursor.execute("""
        SELECT * FROM persons
        WHERE id = ?
        """, (id_number,))
        
        results = cursor.fetchone()
        
        if results:
            self.id_number = results [0]
            self.first = results [1]
            self.last = results [2]
            self.age = results [3]
        else:
            print("No person was found with the the : {id_number}")

In [3]:
con = sqlite3.connect('mydata.db')
cursor = con.cursor()

cursor.execute("DROP TABLE IF EXISTS persons")

cursor.execute("""
    CREATE TABLE persons (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
)
""")

cursor.execute("""
INSERT INTO persons (id, first_name, last_name, age) VALUES
(1, 'Paul', 'Smith', 24),
(2, 'Mark', 'Johnson', 42),
(3, 'Anna', 'Smith', 34)
""")

cursor.execute("""
SELECT * FROM persons
WHERE last_name = 'Smith'
""")

rows = cursor.fetchall()
print(rows)



con.commit()
con.close()

[(1, 'Paul', 'Smith', 24), (3, 'Anna', 'Smith', 34)]

In [4]:
p1 = Person(8, "Alex", "Sorenson", 28)
p1.cursor.execute("""
INSERT INTO persons (id, first_name, last_name, age) VALUES (?,?,?,?)
""", (p1.id_number, p1.first, p1.last, p1.age))

p1.con.commit()
                  
con = sqlite3.connect('mydata.db')
cursor = con.cursor()

cursor.execute("SELECT * FROM persons")
results = cursor.fetchall()
print(results)

con.close()

[(1, 'Paul', 'Smith', 24), (2, 'Mark', 'Johnson', 42), (3, 'Anna', 'Smith', 34), (8, 'Alex', 'Sorenson', 28)]